body {
    margin: 0;
    display: flex;
    height: 100vh;
    font-family: sans-serif;
}

#sidebar {
    width: 300px;
    overflow-y: auto;
    border-right: 1px solid #ccc;
    padding: 1rem;
    background: #f8f8f8;
}

#viewer {
    flex-grow: 1;
    border: none;
}
